@model JobTest.Models.Film
@{
    ViewBag.Title = "Film";
}
<div class="container-fluid">
    <h2>Film</h2>
    <div class="row">
        <div class="col-md-4">
            <img class="img-responsive" src="/home/Poster?filmid=@Model.FilmId">
        </div>
        <div class="container-fluid col-md-8">
            <div class="col-md-12">
                <div class="col-md-12">
                    <h3>
                        <b>@Model.Title</b>
                    </h3>
                </div>
                <div class="col-md-12">
                    <h4>
                        <b>Producer: </b>@Model.Producer</h4>
                </div>
                <div class="col-md-12">
                    <h4>
                        <b>Year: </b> @Model.Year</h4>
                </div>
                <div class="col-md-12">
                    <h4>@Model.Description</h4>
                </div>
            </div>
        </div>
    </div>
</div>