@model IEnumerable<JobTest.Models.Film>

@{
    ViewBag.Title = "Films catalog";
}
@ViewBag.UserId
<h2>Films catalog</h2>
<p>
    @Html.ActionLink("Добавить изображение", "NewFilm")
</p>
<table>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <!--  <th>Poster</th>-->
    </tr>
    @{
        if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                   <!-- <td>
                        <img src="/home/poster?filmid=@item.FilmId"/>
                    </td>-->
                </tr>
            }
        }
    }
</table>

